#person {
    height: 100vh;
    width: 100%;
  
    display: flex;
    align-items: center;
  
    background: var(--cor-preto);
  }
  
  .person-content {
    height: 100%;
    width: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    flex-direction: column;
  
    background: var(--cor-preto);
  }
  
  .person-content div h1 {
    padding: 0px 4px;
    color: transparent;
  
    position: relative;
    width: fit-content;
  
    font-size: calc(2vw + 1.5rem);
    line-height: calc(3vw + 1.8rem);
  
    animation: written_text .5s ease forwards;
  }
  
  .person-content div h1:nth-child(1) {
    animation-delay: 1s;
  }
  
  .person-content div h1:nth-child(2) {
    animation-delay: 2s;
  }
  
  .person-content div h1:nth-child(3) {
    animation: written_text_name .5s ease forwards;
    animation-delay: 3s;
  }
  
  .person-content div h1 span {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 0px;
    height: 100%;
    background: var(--cor-rosa);
  
    animation: written_text_box 1s ease;
    animation-delay: .5s;
  }
  
  .person-content div h1:nth-child(1) span {
    animation-delay: .5s;
  }
  
  .person-content div h1:nth-child(2) span {
    animation-delay: 1.5s;
  }
  
  .person-content div h1:nth-child(3) span {
    animation-delay: 2.5s;
  }
  
  .person-name {
    margin-top: 11rem;
    padding: 0px 20px;
  }
  
  .stacks-content {
    display: flex;
    justify-content: center;
  
    margin: 5rem 0rem 2rem;
    flex-direction: column;
  
    padding: 0px 20px;
  }
  
  .stacks-content h3 {
    color: var(--cor-branco);
    font-size: calc(.85vw + .5rem);
  
    margin-left: 20px;
  }
  
  .stacks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .stacks li {
    display: flex;
    align-items: center;
  
    position: relative;
  
    margin: 10px;
    padding: 10px;
  
    list-style: none;
  }
  
  
  .stacks li img {
    width: calc(2.5vw + 0.5rem);
    height: auto;
  
    transition: transform .3s ease;
  }
  
  .stacks li div img:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .stacks li div:hover::after {
    content: attr(data);
    position: absolute;
    top: calc(5vw + 1rem);
    left: calc(1vw + 0.5rem);
  
    width: 20px;
    height: 20px;
  
    color: var(--cor-branco);
    font-size: 1.25vh;
  }

  .person-background {
    height: 100vh;
    width: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    position: relative;
    flex-direction: column;
  
    background-image: url(../../../../../files/img1.jpg);
    background-size: cover;
    background-position: top center;
  
    z-index: 1;
  }
  
  .person-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  
    height: 100%;
    width: 100%;
  
    opacity: .7;
    z-index: -1;
  
    background:
      linear-gradient(90deg, transparent 30%, var(--cor-preto)),
      linear-gradient(180deg, transparent 30%, var(--cor-preto)),
      linear-gradient(0deg, transparent 65%, var(--cor-preto));
  }
  
  .wrapper-profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: calc(1vw + 0.2rem);
    margin: 20px 15px;
  
    border-radius: 50%;
    background:
      radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
      radial-gradient(#000 68%, transparent 0),
      linear-gradient(to top right, #ffa500 0%, #ff1493 100%);
  }
  
  .profile-photo {
    max-width: 320px;
    width: 100%;
    border-radius: 50%;
  }
  
  .links a img {
    width: calc(2vw + 0.8rem);
    height: calc(2vw + 0.8rem);
  
    margin: calc(0.8vw + 0.8rem);
    filter: brightness(.8);
    transition: all .3s ease;
  }
  
  .links a img:hover {
    transform: scale(1.15);
    filter: brightness(1);
  }



  @keyframes written_text {
    100% {
      color: var(--cor-branco);
    }
  }
  
  @keyframes written_text_name {
    100% {
      color: var(--cor-azul);
    }
  }
  
  @keyframes written_text_box {
    50% {
      width: 100%;
      left: 0;
    }
  
    100% {
      width: 0;
      left: 100%;
    }
  }